header {
    background-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    background-color: #c4c4c4;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #ffffff;
    background-position: 50px;
    padding: 5px;
    margin-top: 50px;
    margin-left: 50px;
    height: 300px;
    width: 290px;
}

.card__title {
    color: #282828;
    font-size: 18px;
    font-weight: 800;
    line-height: 0.5;
}

.card__description {
    color: #282828;
    font-size: 12px;
    line-height: 0.5;
}

img {
    width: 288px;
    height: 182px;
    margin-bottom: 5px;
}

footer {
    background-color: #ffffff;
}